body::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
  background-color: #ffff;
  border: #149930 2px solid;
  cursor: pointer;
  scroll-behavior: smooth;
 }
 
 body::-webkit-scrollbar-thumb {
  background-color: #149930;
  border-radius: 100px;
  height: 10px;
 }


 @media (mx-width: 880px) {
  body::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
    background-color: #ffff;
    border: #149930 2px solid;
    cursor: pointer;
    scroll-behavior: smooth;
   }
   
   body::-webkit-scrollbar-thumb {
    background-color: #149930;
    border-radius: 100px;
    height: 10px;
   }
  
 }